# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
# a Gemfile as specified at https://github.com/github/pages-gem#conventional

# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Additional Ruby/bundler ignore for when you run: bundle install
/vendor

# Specific ignore for GitHub Pages
# GitHub Pages will always use its own deployed version of pages-gem 
# This means GitHub Pages will NOT use your Gemfile.lock and therefore it is
# counterproductive to check this file into the repository.
# Details at https://github.com/github/pages-gem/issues/768
Gemfile.lock
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/fuccl/FileContentIndex/63914202-5534-4c28-badc-cb1437ca1274.vsidx
.vs/fuccl/v17/.wsuo
.vs/fuccl/v17/DocumentLayout.backup.json
.vs/fuccl/v17/DocumentLayout.json
/.vs/fuccl/FileContentIndex/4b99fb6f-8e28-4aa5-b77d-ee7d1f8c001e.vsidx
/.vs/fuccl/FileContentIndex/ad03eef2-056e-47e2-bf86-69fabf9e80de.vsidx
/.vs/fuccl/FileContentIndex/f67bfd93-e707-42ee-aee1-ef0c53409a21.vsidx
/.vs/fuccl/FileContentIndex/3d59c116-3a53-4425-967c-6edc1433f094.vsidx
*.vsidx
